<link rel="stylesheet" href="/css/home.css">

<div class="main-container">
  <div class="carousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        {{#each RemarkableCourses}}
          {{#unless @index}}
            <li data-target="#carouselExampleIndicators" class="active" data-slide-to="{{@index}}"></li>
            {{else}}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{@index}}"></li>
          {{/unless}}
        {{/each}}
      </ol>
      <div class="carousel-inner">
        {{#each RemarkableCourses}}
          {{#unless @index}}
            <div class="carousel-item active" onclick="window.location='/courses?id={{this._id}}'">
              <img class="d-block w-100" src="images/{{this.avatarLink}}" alt="">
            </div>
          {{else}}
          <div class="carousel-item" onclick="window.location='/courses?id={{this._id}}'">
            <img class="d-block w-100" src="images/{{this.avatarLink}}" alt="">
          </div>
          {{/unless}}
        {{/each}}
      </div>

      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
    <div class="carousel-title">
      <div>Our</div>
      <div>Outstanding</div>
      <div>Courses</div>
    </div>
  </div>

  <div class="category-section">
    <h3>Top Categories</h3>
    <div class="section-content">
      {{#each MostSubscribedCategories}}
        <button class="btn btn-outline-primary category-btn" onclick="window.location='/courses/category/{{name}}'">{{name}}</button>
      {{/each}}
    </div>
  </div>

  <div class="course-section">
    <div class="section-title">
      <div>What Is</div>
      <div>Trending?</div>
      <button class="btn btn-primary">Show more</button>
    </div>
    <div class="course-container">  
      {{#each MostViewedCoureses}}
        <div class="card">
          <img class="card-img-top" src="images/{{this.avatarLink}}" onclick="window.location='/courses?id={{this._id}}'">
          <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">{{category}}</p>
            <p class="card-text">{{teacherID.name}}</p>
            <p class="card-text">{{averageReviewPoint}} ({{reviewCount}})</p>
            <p class="card-text"><b>{{price}}$</b></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <div class="course-section">
    <div class="section-title">
      <div>Brand</div>
      <div>New</div>
      <div>Breezes</div>
      <button class="btn btn-primary">Show more</button>
    </div>
    <div class="course-container">
      {{#each NewestCourses}}
        <div class="card" id="{{this._id}}">
          <img class="card-img-top" src="images/{{this.avatarLink}}" onclick="window.location='/courses?id={{this._id}}'">
          <div class="card-body">
            <h4 class="card-title">{{this.title}}</h4>
            <p class="card-text">{{category}}</p>
            <p class="card-text">{{teacherID.name}}</p>
            <p class="card-text">{{averageReviewPoint}} ({{reviewCount}})</p>
            <p class="card-text"><b>{{price}}$</b></p>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
</div>

{{#section 'scripts'}}
<script>
  $(document).ready(() => {
    var isOverflowContentOfMostViewCoursesVisible = false
    $('.course-section .btn').click((e) => {
      e.preventDefault()
      const btn = $(e.target)
      const container = btn.parent('.section-title').next('.course-container')

      if (isOverflowContentOfMostViewCoursesVisible === false){
        container.css('overflow', 'unset')
        container.css('height', 'auto')
        btn.text('Show less')
        isOverflowContentOfMostViewCoursesVisible = !isOverflowContentOfMostViewCoursesVisible
      }
      else{
        container.css('overflow', 'hidden')
        container.css('height', '270px')
        btn.text('Show more')
        isOverflowContentOfMostViewCoursesVisible = !isOverflowContentOfMostViewCoursesVisible
      }
    })
  })
</script>
{{/section}}