<link rel="stylesheet" href="/css/profile.css">
<div class="main-container">
    <div class="option-container">
        <div class="button-container">
            <a href="/account/change-personal-info" class="btn btn-primary">Update profile</a>
            <a href="/account/change-password" class="btn btn-primary">Change password</a>
        </div>
    </div>
    <div class="layout-buffer"></div>
    <div class="information-container">
        <div class="personal-information-section">
            <div class="name">{{name}}</div>
            <div><span style="font-weight: 500;">Email: </span>{{email}}</div>
        </div>

        <div class="courses-section">
            <div class="section-title">
                <h4>Your Courses</h4>
                {{#each joinedCourses}}
                {{#unless @index}}
                <button class="btn btn-primary toggle-joinedCourses-btn">More</button>
                {{/unless}}
                {{/each}}
            </div>
            <div class="section-content">
                {{#each joinedCourses}}
                {{#if isFinish}}
                <div class="card" onclick="window.location='/courses?id={{this._id}}'">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <div style="font-style: italic;" class="card-text">Completed</div>
                    </div>
                    <span class="fa fa-trophy"></span>
                </div>
                {{else}}
                <div class="card" onclick="window.location='/courses?id={{this._id}}'">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <div style="font-style: italic;" class="card-text">Not Completed</div>
                    </div>
                </div>
                {{/if}}
                {{else}}
                <div>You have not joined any course</div>
                {{/each}}
            </div>
        </div>

        <div class="courses-section">
            <div class="section-title">
                <h4>Watchlist</h4>
                {{#each watchList}}
                {{#unless @index}}
                <button class="btn btn-primary toggle-joinedCourses-btn">More</button>
                {{/unless}}
                {{/each}}
            </div>
            <div class="section-content">
                {{#each watchList}}
                {{#if isFinish}}
                <div class="card" onclick="window.location='/courses?id={{this._id}}'">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <div class="card-text">Finished</div>
                    </div>
                    <span class="fa fa-flag"></span>
                </div>
                {{else}}
                <div class="card" onclick="window.location='/courses?id={{this._id}}'">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <div class="card-text">Not Finished</div>
                    </div>
                </div>
                {{/if}}
                {{else}}
                <div>You have no course in your watchlist</div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

{{#section 'scripts'}}
<script>
    $(document).ready(() => {
        var isJoinedCourseVisible = false
        var isWatchListVisible = false

        const showMoreJoinedCoursesBtn = $('.toggle-joinedCourses-btn')
        const showMoreWatchListBtn = $('.toggle-watchList-btn')

        showMoreJoinedCoursesBtn.click(e => {
            e.preventDefault()
            if (isJoinedCourseVisible === false){
                $(e.target).parent('.section-title').next('.section-content').css('max-height', 'none')
                $(e.target).text('Less')
            }
            else{
                $(e.target).parent('.section-title').next('.section-content').css('max-height', '110px')
                $(e.target).text('More')
            }

            isJoinedCourseVisible = !isJoinedCourseVisible
        })

        showMoreWatchListBtn.click(e => {
            e.preventDefault()
            if (isWatchListVisible === false){
                $(e.target).parent('.section-title').next('.section-content').css('max-height', 'none')
                $(e.target).text('Less')
            }
            else{
                $(e.target).parent('.section-title').next('.section-content').css('max-height', '110px')
                $(e.target).text('More')
            }

            isWatchListVisible = !isWatchListVisible
        })
    })
</script>
{{/section}}
