<link rel="stylesheet" href="/css/courseList.css">

<div class="main-container">
  {{#unless docsCount}}
  <div class="annoucement">Sorry :( There is no course available here...</div>
  <button onclick="window.location='\\'"  class="btn btn-primary">Back to <span>Online Academy</span></button>
  {{else}}
  <div class="annoucement">There are <span>{{docsCount}}</span> courses in {{currentCategory}}</div>
  {{/unless}}

  {{#if docsCount}}
  <div class="filter-section">
    <form method="GET">
      <label for="filter">Filter: </label>
      <select class="custom-select" name="filter" id="filter">
        <option value="price-asc" selected>Price Ascending</option>
        <option value="price-desc">Price Descending</option>
        <option value="review-asc">Review Ascending</option>
        <option value="review-desc">Review Descending</option>
      </select>

      <input type="hidden" name="page" value="{{current}}">
      <button type="submit" class="btn btn-primary">Apply filter</button>
    </form>
  </div>
  {{/if}}

  <div class="course-container">
    {{#each Courses}}
      <div class="card">
        <img src="/images/{{avatarLink}}" onclick="window.location='/courses?id={{this._id}}'" alt="">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <div onclick="window.location='/courses/category/{{category}}'" style="cursor: pointer;" class="card-text">{{category}}</div>
          <div class="card-text">{{teacherID.name}}</div>
          <div class="card-text">{{averageReviewPoint}} <span class="fa fa-star"></span> ({{reviewCount}} reviews)</div>
          <div class="card-text course-price"><b>{{price}}$</b></div>
        </div>
      </div>
      {{else}}
    {{/each}}
  </div>

  {{#ifLessThanOrEqualLimit docsCount}}
  {{else}}
  <div class="paginate-section">
    <nav>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page={{dec current}}">Prev</a></li>
        <li class="page-item"><a class="page-link" href="?page={{inc current}}">Next</a></li>
      </ul>
    </nav>
  </div>
  {{/ifLessThanOrEqualLimit}}
</div>

{{#section 'scripts'}}
<script>
</script>
{{/section}}