<link rel="stylesheet" href="/css/courseList.css">

<div class="main-container">
  <div class="course-container">
    {{#each Courses}}
      <div class="card" onclick="window.location='/courses?id={{this._id}}'">
        <img src="//images/{{avatarLink}}" alt="">
        <div class="card-body">
          <h4 class="card-title">{{title}}</h4>
          <div class="card-text">{{category}}</div>
          <div class="card-text">{{teacherID.name}}</div>
          <div class="card-text">{{averageReviewPoint}} ({{reviewCount}} reviews)</div>
          <div class="card-text"><b>{{price}}$</b></div>
        </div>
      </div>
    {{/each}}
  </div>

  <div class="paginate-section">
    {{#if last}}
    <nav>
      <ul class="pagination">
        {{#if start}}
        <li class="page-item"><a class="page-link" href="?page={{current}}">Previous</a></li>
        {{else}}
        <li class="page-item"><a class="page-link" href="?page={{dec current}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{decBy2 current}}">{{decBy2 current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{dec current}}">{{dec current}}</a></li>
        {{/if}}
        <li class="page-item"><a class="page-link active" href="?page={{current}}">{{current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{current}}">Next</a></li>
      </ul>
    </nav>
    {{else}}
    {{#if start}}
    <nav>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page={{current}}">Previous</a></li>
        <li class="page-item"><a class="page-link active" href="?page={{current}}">{{current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{inc current}}">{{inc current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{incBy2 current}}">{{incBy2 current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{inc current}}">Next</a></li>
      </ul>
    </nav>
    {{else}}
    <nav>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page={{dec current}}">Previous</a></li>
        <li class="page-item"><a class="page-link" href="?page={{dec current}}">{{dec current}}</a></li>
        <li class="page-item"><a class="page-link active" href="?page={{current}}">{{current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{inc current}}">{{inc current}}</a></li>
        <li class="page-item"><a class="page-link" href="?page={{inc current}}">Next</a></li>
      </ul>
    </nav>
    {{/if}}
    {{/if}}
  </div>
</div>

{{#section 'scripts'}}
<script>
</script>
{{/section}}