<link rel="stylesheet" href="/css/detailCourse.css">
<div class="main-container">
    <div class="img-container">
        <img src="images/{{avatarLink}}" alt="">
        <div class="decoration-rectangle"></div>
    </div>
    <div class="information-section">
        <div class="text-section">
            <div class="title">
                <h2>{{title}}</h2>
                <h2>{{averageReviewPoint}} <span class="fa fa-star"></span></h2>
            </div>
            <p>{{briefDescription}}</p>
            <div><a href="/courses/{{parentCate}}">{{parentCate}}</a> <span class="fa fa-long-arrow-right"></span> <a href="/courses/category/{{this}}">{{category}}</a></div>
            <br>
            <div style="font-weight: 500;"><span>{{numOfStudent}}</span> students are learning</div>
            <div>Last update: {{updatedAt}}</div>

            <div class="card">
                <div class="card-body">
                    <div class="card-title">Overviewing</div>
                    <div class="card-text">{{{description}}}</div>
                </div>
            </div>
        </div>

        <div class="lectures-section">
            <div class="section-title">Lectures</div>
            <table class="table">
                <thead>
                    <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    {{#if isAuth}}
                        {{#each videos}}
                        <tr>
                            <th>{{inc @index}}</th>
                            <td>
                                <a href="">{{title}}</a>
                                <div class="modal" style="display: none;">
                                    <div class="modal-content">
                                        <span class="close btn">Close</span>
                                        <video
                                            class="video-js"
                                            controls
                                            preload="auto"
                                            width="640"
                                            height="264"
                                            data-setup="{}"
                                        >
                                            <source src="videos/{{link}}" type="video/mp4" />
                                            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
                                        </video>
                                    </div>
                                </div>
                            </td>
                            <td>{{description}}</td>
                        </tr>
                        {{/each}}
                    {{else}}
                        {{#each videos}}
                            {{#unless @index}}
                            <tr>
                                <th>{{inc @index}}</th>
                                <td>
                                    <a href="">{{title}}</a>
                                    <div class="modal" style="display: none;">
                                        <div class="modal-content">
                                            <span class="close btn">Close</span>
                                            <video
                                                class="video-js"
                                                controls
                                                preload="auto"
                                                width="640"
                                                height="264"
                                                data-setup="{}"
                                            >
                                                <source src="videos/{{link}}" type="video/mp4" />
                                                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
                                            </video>
                                        </div>
                                    </div>
                                </td>
                                <td>{{description}}</td>
                            </tr>
                            {{else}}
                            <tr>
                                <th>{{inc @index}}</th>
                                <td>
                                    <a href="" class="disabled">{{title}}</a>
                                    <div class="modal" style="display: none;">
                                        <div class="modal-content">
                                            <span class="close btn">Close</span>
                                            <video
                                                class="video-js"
                                                controls
                                                preload="auto"
                                                width="640"
                                                height="264"
                                                data-setup="{}"
                                            >
                                                <source src="videos/{{link}}" type="video/mp4" />
                                                <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that supports HTML5 video</p>
                                            </video>
                                        </div>
                                    </div>
                                </td>
                                <td>{{description}}</td>
                            </tr>
                            {{/unless}}
                        {{/each}}
                    {{/if}}
                </tbody>
            </table>
        </div>

        <div class="viewfeedback-section">
            <div class="section-title">Reviews</div>
            <div class="section-content">
            {{#each reviewList}}
                <div class="card">
                    <div class="card-body">
                        <div class="card-title"><span>{{studentName}}</span> gave {{numOfStar}} <span class="fa fa-star"></span></div>
                        <div class="card-text-container">
                            <div class="square"></div>
                            <div class="card-text">{{feedback}}</div>
                        </div>
                    </div>
                </div>
                {{else}}
                <div>Be the first one to buy and review this course</div>
            {{/each}}
            </div>
        </div>

        {{#if isAuth}}
        <div class="card givefeedback-section" style="display: none;">
            <div class="card-body">
                <div class="stars">
                    <button class="btn">5</button>
                    <button class="btn">4</button>
                    <button class="btn">3</button>
                    <button class="btn">2</button>
                    <button class="btn">1</button>
                </div>
                <input type="text" class="form-control" id="commentInput" name="comment" value="" placeholder="Wirte your comment">
                <button class="btn btn-primary">Feedback</button>
            </div>
        </div>
        {{/if}}

        <div class="suggest-section">
            <div class="section-title">You may want to see</div>
            <div class="section-content">
                {{#each suggestignCourse}}
                <div class="card" onclick="window.location='/courses?id={{this._id}}'">
                    <img src="images/{{avatarLink}}" alt="">
                    <div class="card-body">
                        <h4 class="card-title">{{title}}</h4>
                        <div class="card-text">{{category}}</div>
                        <div class="card-text">{{teacherID.name}}</div>
                        <div class="card-text">{{averageReviewPoint}} <span class="fa fa-star"></span> ({{reviewCount}} reviews)</div>
                        <div class="card-text course-price">{{price}}</div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="handle-section">
        <div class="buy-section">
            <h2 class="course-price">{{price}}$</h2>
            <br>
            {{#if isAuth}}
                <a href="" id="buyBtn" class="btn btn-primary">Buy now</a>
                <a href="" id="subscribeBtn" class="btn btn-primary">Add</a>
            {{/if}}
        </div>
    </div>
</div>

{{#section 'scripts'}}
    <script>
        $(document).ready(() => {
            //#region lecture script
            $('.lectures-section a').click((e) => {
                e.preventDefault()
                $('.lectures-section a~.modal').css('display', 'block')
            })

            $('.close').click((e) => {
                $('.modal').css('display', 'none')
            })

            $('a.disabled').off('click')

            $('a.disabled').click((e) => {
                e.preventDefault()
                alert('buy this course to view this section')
            })
            //#endregion

            const currentUrl = window.location.href
            const course_id = currentUrl.split('=')[1].split('&')[0]

            $.getJSON('/account', ({username}) => {

                //#region feedback script
                var fbPoint, comment

                $('.stars>.btn').mouseenter((e) => {
                    e.preventDefault()
                    fbPoint = parseInt($(event.target).text())
                    $('.stars>.btn').css('color', '#0e6cff')
                    $('.stars>.btn').css('background-color', 'transparent')
                    $('.stars>.btn:hover~.btn, .stars>.btn:hover').css('color', 'white')
                    $('.stars>.btn:hover~.btn, .stars>.btn:hover').css('background-color', '#0e6cff')
                })

                $('.stars>.btn').click((e) => {
                    e.preventDefault()
                    fbPoint = parseInt($(event.target).text())
                    $('.stars>.btn:hover~.btn, .stars>.btn:hover').css('color', 'white')
                    $('.stars>.btn:hover~.btn, .stars>.btn:hover').css('background-color', '#0e6cff')
                })

                const validateFields = () => {
                    if (fbPoint === undefined || comment === '') return false
                    return true
                }

                $('#fb-btn').click((e) => {
                    e.preventDefault()

                    comment = $('#commentInput').val()
                    if (validateFields() === true){
                        $.post(`/courses/feedback/create?username=${username}&id=${course_id}`, {stars : fbPoint, comment}, ({isSuccess}) => {
                            if (isSuccess === true){
                                window.location = window.location.href
                            }
                        }, 'json')
                    }
                    else {
                        alert('you have to fill all fields')
                    }
                })
                //#endregion

                //#region watchlist script
                $.getJSON(`/students/update/watchList/check?username=${username}&id=${course_id}`, (data) => {
                    const subscribeBtn = $('#subscribeBtn')
                    if (data.isInWatchList === true){
                        subscribeBtn.text('Remove')
                        subscribeBtn.css('background-color', 'red')
                    }

                    subscribeBtn.click((e) => {
                        e.preventDefault()
                        if (data.isInWatchList === true){
                            $.post(`/students/update/watchList/remove`, {username, course_id}, ({isSuccess}) => {
                                if (isSuccess === true){
                                    window.location = window.location.href
                                }
                                else {
                                    alert('failed')
                                }
                            }, 'json')
                        }
                        else {
                            $.post(`/students/update/watchList/add`, {username, course_id}, ({isSuccess}) => {
                                if (isSuccess === true){
                                    window.location = window.location.href
                                }
                                else {
                                    alert('failed')
                                }
                            }, 'json')
                        }
                    })
                })
                //#endregion

                //#region buy course script
                $.getJSON(`/students/update/joinedCourses/check?username=${username}&id=${course_id}`, (data) => {
                    const buyBtn = $('#buyBtn')
                    if (data.isJoined === true){
                        buyBtn.addClass('disabled').text('Bought').css('background-color', 'gray').css('border', 'none')
                        $('.givefeedback-section').css('display', 'block')
                    } 
                    else{

                    }

                    buyBtn.click((e) => {
                        e.preventDefault()

                        $.post(`/students/update/joinedCourses/add`, {username, course_id}, (data) => {
                            if (data.isSuccess === true){
                                buyBtn.addClass('disabled')
                                $('.feedback-section').css('display', 'initial')
                                window.location = window.location.href
                            }
                            else {
                                alert('failed')
                            }           
                        }, `json`)
                    })
                })
                //#endregion
            })      
        })
    </script>
{{/section}}