<link rel="stylesheet" href="/css/courseList.css">

<div class="main-container">
  <div class="annoucement">We found <span>{{docsCount}}</span> courses for keyword <span>{{q}}</span></div>

  {{#if docsCount}}
  <div class="filter-section">
    <form method="GET">
      <label for="filter">Filter: </label>
      <select class="custom-select" name="filter" id="filter">
        <option value="price-asc" selected>Price Ascending</option>
        <option value="price-desc">Price Descending</option>
        <option value="review-asc">Review Ascending</option>
        <option value="review-desc">Review Descending</option>
      </select>

      <input type="hidden" name="page" value="{{current}}">
      <input type="hidden" name="q" value="{{q}}">
      <button type="submit" class="btn btn-primary">Apply filter</button>
    </form>
  </div>
  {{/if}}
  
  <div class="course-container">
    {{#each Courses}}
      <div class="card">
        <img style="cursor: pointer;" src="/images/{{avatarLink}}" onclick="window.location='/courses?id={{this._id}}'" alt="">
        <div class="card-body">
          <h4 style="cursor: pointer;" class="card-title" onclick="window.location='/courses?id={{this._id}}'">{{title}}</h4>
          <div style="cursor: pointer; color: #0e6cff;" onclick="window.location='/courses/category/{{category}}'" class="card-text">{{category}}</div>
          <div class="card-text">{{teacherID.name}}</div>
          <div class="card-text">{{averageReviewPoint}} <span class="fa fa-star"></span> ({{reviewCount}} reviews)</div>
          <div class="card-text course-price">{{price}}</div>
        </div>
      </div>
      {{else}}
    {{/each}}
  </div>

  {{#ifLessThanOrEqualLimit docsCount}}
  {{else}}
  <div class="paginate-section">
    <nav>
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="?page={{dec current}}&q={{q}}">Prev</a></li>
        <li class="page-item"><a class="page-link" href="?page={{inc current}}&q={{q}}">Next</a></li>
      </ul>
    </nav>
  </div>
  {{/ifLessThanOrEqualLimit}}
</div>

{{#section 'scripts'}}
<script>
</script>
{{/section}}