<div class="card">
  <div class="card-header">Categories</div>
  <div class="card-body">
		<table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
          <tr>
            <th scope="row">{{@index}}</th>
            <td>{{name}}</td>
            <td>
              <a href="/admin/category/{{name}}" class="btn btn-sm btn-primary detail-btn">Detail</a>
              <button class="btn btn-sm btn-primary view-btn">View Subcategory</button>
              <a href='/admin/categories/update?name={{name}}' class="btn btn-sm btn-primary">Update</a>
              <a href="{{name}}" class="btn btn-sm btn-danger delete-category-btn">Delete</a>

              <div class="card subCategories-section" style="display: none;">
                <div class="card-body">
                  <table class="table">
                    <thead>
                      <th scope="col">#</th>
                      <th scope="col">Name</th>
                      <th scope="col">Handle</th>
                    </thead>

                    <tbody>
                      {{#each subCategories}}
                        <tr>
                          <th scope="row">{{@index}}</th>
                          <td>{{name}}</td>
                          <td>
                            <a href="/admin/subCategory/{{name}}" class="btn btn-sm btn-primary detail-subcategory-btn">Detail</a>
                            <a href='/admin/subCategories/update?name={{name}}' class="btn btn-sm btn-primary">Update</a>

                            {{#unless numOfCourses}}
                              <a href='{{name}}' class="btn btn-sm btn-danger delete-subcategory-btn">Delete</a>
                            {{/unless}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>

                <div class="card-footer text-muted">
                  <a href="/admin/subCategories/add" class="btn-sm btn btn-primary add-subcategory-btn">Add subcategory</a>
                  <a class="btn-sm btn btn-danger close-btn">Close</a>
                </div>
              </div>

              <div class="card detail-section" style="display: none;">
                <div class="card-body">
                  <div>{{name}}]</div>
                  <div>{{detail}}]</div>
                  <div>{{subscribe}}</div>
                </div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
    <div class="card-footer text-muted">
      <a href="/admin/categories/add" class="btn-sm btn btn-primary add-category-btn">Add category</a>
    </div>
</div>

{{#section 'scripts'}}
  <script>
    $(document).ready(() => {
      //#region UI cripts
      $('.view-btn').click((e) => {
        e.preventDefault()
        $(e.target).siblings('.subCategories-section').css('display', 'block')
      })

      $('.close-btn').click((e) => {
        e.preventDefault()
        $('.subCategories-section').css('display', 'none')
      })

      $('.detail-btn').click((e) => {
        e.preventDefault()
        $(e.target).siblings('.detail-section'.css('display', 'block'))
      })
      //#endregion

      //#region AJAX calls
      $('.delete-subcategory-btn').click((e) => {
        e.preventDefault()
        const subcateName = $(e.target).attr('href')
        $.post('/admin/subCategories/delete', {name : subcateName})
        window.location = window.location.href
      })

      $('.delete-category-btn').click((e) => {
        e.preventDefault()
        const cateName = $(e.target).attr('href')
        $.post('/admin/categories/delete', {name : cateName}, ({isSuccess}) => {
          if (isSuccess === true){
            window.location = window.location.href
          }
          else {
            alert('failed')
          }
        })
      })
      //#endregion
    })
  </script>
{{/section}}
