<div class="table-container">
    <h1>Categories management</h1>
		<table class="table2">
      <a href="/admin/categories/add" class="adding-resource
                                     adding-resource-admin"><i class="fas fa-plus"></i></a>
      <thead>
        <tr>
          <th class="order" scope="col">#</th>
          <th class="content" scope="col">Name</th>
          <th class="handle" scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        {{#each categories}}
          <tr>
            <td class="order" scope="row">{{inc @index}}</td>
            <td class="content">{{name}}</td>
            <td class="handle">
              <a href="/admin/category/{{name}}" class="btn btn-sm btn-primary detail-btn">Detail</a>
              <button class="btn btn-sm btn-primary view-btn">View Subcategory</button>
              <a href='/admin/categories/update?name={{name}}' class="btn btn-sm btn-primary">Update</a>
              
              {{#if deletable}}
              <a href="{{name}}" class="btn btn-sm btn-danger delete-category-btn">Delete</a>
              {{else}}
              <a href="{{name}}" class="disabled btn btn-sm btn-danger delete-category-btn">Delete</a>
              {{/if}}

              <div class="subCategories-section my-modal" style="display: none;">
                  <table class="table2">
                    <thead>
                      <tr>
                        <th class="order" scope="col">#</th>
                        <th class="content" scope="col">Name</th>
                        <th class="handle-sm" scope="col">Handle</th>
                      </tr>
                    </thead>

                    <tbody>
                      {{#each subCategories}}
                        <tr>
                          <th class="order" scope="row">{{inc @index}}</th>
                          <td class="content">{{name}}</td>
                          <td class="handle-sm">
                            <a href="javascript:void(0)" class="btn btn-sm btn-primary detail-btn">Detail</a>
                            <div class="detail-section my-modal" style="display: none;">
                                  <h4><b>{{name}}</b></h4>
                                  <div><strong>Detail:</strong> {{detail}}</div>
                                  <div><strong>Subscribe:</strong> {{subscribe}}</div>
                                  <div><strong>Number of Course:</strong> {{numOfCourses}}</div>
                            </div>
                            <a href='/admin/subCategories/update?name={{name}}' class="btn btn-sm btn-primary">Update</a>

                            {{#unless numOfCourses}}
                              <a href='{{name}}' class="btn btn-sm btn-danger delete-subcategory-btn">Delete</a>
                              {{else}}
                              <a href='{{name}}' class="disabled btn btn-sm btn-danger delete-subcategory-btn">Delete</a>
                            {{/unless}}
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>

                  <a href="/admin/subCategories/add" class="btn-sm btn btn-primary add-subcategory-btn">Add subcategory</a>
              </div>

              <div class="card detail-section my-modal" style="display: none;">
                  <h4><b>{{name}}</b></h4>
                  <div><strong>Detail:</strong> {{detail}}</div>
                  <div><strong>Subscribe:</strong> {{subscribe}}</div>
              </div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
</div>

{{#section 'scripts'}}
  <script>
    $(document).ready(() => {
      //#region UI cripts
      var isSubcategorySectionVisible = false
      var isDetailSectionVisible = false

      $('.view-btn').click((e) => {
        e.preventDefault()
        var isDetailSectionVisible = false

        $('.subCategories-section').css('display', 'none')
        $('.my-modal').css('display', 'none')
        $(e.target).siblings('.subCategories-section').css('display', 'block')
        if (isSubcategorySectionVisible == false){
          $(e.target).siblings('.subCategories-section').css('display', 'block')
        }
        else{
          $(e.target).siblings('.subCategories-section').css('display', 'none')
        }

        isSubcategorySectionVisible = !isSubcategorySectionVisible
      })

      $('.detail-btn').click((e) => {
        e.preventDefault()
        var isSubcategorySectionVisible = false

        $('.my-modal').css('display', 'none')
        $('.detail-section').css('display', 'none')
        $(e.target).siblings('.detail-section').css('display', 'block')
        if (isDetailSectionVisible == false){
          $(e.target).siblings('.detail-section').css('display', 'block')
        }
        else{
          $(e.target).siblings('.detail-section').css('display', 'none')
        }

        isDetailSectionVisible = !isDetailSectionVisible
      })
      //#endregion

      //#region AJAX calls
      $('.delete-subcategory-btn').click((e) => {
        e.preventDefault()
        const subcateName = $(e.target).attr('href')
        $.post('/admin/subCategories/delete', {name : subcateName})
        window.location = window.location.href
      })

      $('.delete-category-btn').click((e) => {
        e.preventDefault()
        const cateName = $(e.target).attr('href')
        $.post('/admin/categories/delete', {name : cateName})
      })
      //#endregion
    })
  </script>
{{/section}}
