<div class="table-container">
    <h1>Courses management</h1>
		<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course title</th>
      <th scope="col">Overview</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.courses}} 
      <tr>
        <th scope="row">{{inc @index}}</th>
        <td>{{title}}</td>
        <td>{{briefDescription}}</td>
        <td>
          <a href="javascript:void(0)" class="btn btn-sm btn-primary detail-btn">Detail</a>
          <div class="detail-section card" style="display: none;">
              <h4><b>{{title}}</b></h4>
              <div><strong>Teacher:</strong> {{teacherID.username}}</div>
              <div><strong>View:</strong> {{view}}</div>
              <div><strong>Price:</strong> {{price}}</div>
              <div><strong>Number of Student:</strong> {{numOfStudent}}</div>
              <div><strong>Category:</strong> {{category}}</div>
          </div>
          <form style="display: inline-block;" action="/admin/courses/delete" method="post">
            <input type="hidden" name="courseID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{#section 'scripts'}}
<script>
  $(document).ready(() => {
    var isDetailSectionVisible = false
    $('.detail-btn').click((e) => {
      e.preventDefault()
      if (isDetailSectionVisible == false){
        $(e.target).siblings('.detail-section').css('display', 'block')
      }
      else {
        $(e.target).siblings('.detail-section').css('display', 'none')
      }

      isDetailSectionVisible = !isDetailSectionVisible
    })
  })
</script>
{{/section}}
