<div class="table-container">
  <form method="POST" class="filter">
    <h1>Courses management</h1>
    <select name="teacherID" class="form-select form-select-sm" aria-label=".form-select-sm
      example">
      <option selected value="all">Teachers</option>
      <option value="all">All teachers</option>
      {{#each this.teachers}}
      <option value="{{_id}}">{{name}}</option>
      {{/each}}
    </select>
    <select name="category" class="form-select form-select-sm" aria-label=".form-select-sm
      example">
      <option selected value="all">Categories</option>
      <option value="all">All categories</option>
      {{#each this.subcategories}}
      <option value="{{name}}">{{name}}</option>
      {{/each}}
    </select>
    <button class="btn btn-sm btn-primary">Filter</button>
  </form>
	<table class="table table-admin-courses table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course title</th>
      <th scope="col">Overview</th>
      <th class="handle-col" scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.courses}} 
      <tr>
        <td scope="row">{{inc @index}}</th>
        <td>{{title}}</td>
        <td>{{briefDescription}}</td>
        <td class="handle-col">
          <a href="javascript:void(0)" class="btn btn-sm btn-primary detail-btn">Detail</a>
          <div class="detail-section" style="display: none;">
              <h4><b>{{title}}</b></h4>
              <div><strong>Teacher:</strong> {{teacherID.username}}</div>
              <div><strong>View:</strong> {{view}}</div>
              <div><strong>Price:</strong> {{price}}</div>
              <div><strong>Number of Student:</strong> {{numOfStudent}}</div>
              <div><strong>Category:</strong> {{category}}</div>
          </div>
          <form style="display: inline-block;" action="/admin/courses/delete" method="post">
            <input type="hidden" name="courseID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{#section 'scripts'}}
<script>
  $(document).ready(() => {
    var isDetailSectionVisible = false
    $('.detail-btn').click((e) => {
      e.preventDefault()
      if (isDetailSectionVisible == false){
        $(e.target).siblings('.detail-section').css('display', 'block')
      }
      else {
        $(e.target).siblings('.detail-section').css('display', 'none')
      }

      isDetailSectionVisible = !isDetailSectionVisible
    })
  })
</script>
{{/section}}
