<div class="table-container">
    <h1>Students management</h1>
		<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Student name</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.students}} 
      <tr>
        <th scope="row">{{inc @index}}</th>
        <td>{{name}}</td>
        <td>
          <button class="btn btn-sm btn-primary detail-btn">Detail</button>
          <div class="detail-section" style="display: none;">
                  <h4><b>{{name}}</b></h4>
                  <div><strong>Username: </strong>{{username}}</div>
                  <div><strong>Email: </strong>{{email}}</div>
          </div>
          <form style="display: inline-block;" action="/admin/students/delete" method="post">
            <input type="hidden" name="studentID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{#section 'scripts'}}
<script>
  $(document).ready(() => {
    var isDetailSectionVisible = false
    $('.detail-btn').click((e) => {
      e.preventDefault()
      if (isDetailSectionVisible == false){
        $(e.target).siblings('.detail-section').css('display', 'block')
      }
      else {
        $(e.target).siblings('.detail-section').css('display', 'none')
      }

      isDetailSectionVisible = !isDetailSectionVisible
    })
  })
</script>
{{/section}}
