<div class="table-container">
    <h1>Teachers management</h1>
		<table class="table2 table-borderless table-hover">
      <a href="/admin/teachers/add" class="adding-resource adding-resource-admin"><i class="fas
          fa-user-plus"></i></a>
  <thead>
    <tr>
      <th class="order" scope="col">#</th>
      <th class="content" scope="col">Teacher name</th>
      <th class="handle-sm" scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.teachers}} 
      <tr>
        <th class="order" scope="row">{{inc @index}}</th>
        <td class="content">{{name}}</td>
        <td class="handle-sm">
          <button class="btn btn-sm btn-primary detail-btn">Detail</button>
          <div class="detail-section" style="display: none;">
                <h4><b>{{name}}</b></h4>
                <div><strong>Username:</strong> {{username}}</div>
                <div><strong>Email: </strong>{{email}}</div>
          </div>
          <a href="/admin/teachers/update?teacherID={{_id}}" class="btn btn-sm btn-primary">Update</a>
          {{#if isClock}}
          <form style="display: inline-block;" action="/admin/teachers/unclock" method="post">
            <input type="hidden" name="teacherID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-primary">Unclock</button>
          </form>
          {{else}}
          <form style="display: inline-block;" action="/admin/teachers/clock" method="post">
            <input type="hidden" name="teacherID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger">Clock</button>
          </form>
          {{/if}}
          <form style="display: inline-block;" action="/admin/teachers/delete" method="post">
            <input type="hidden" name="teacherID" value="{{_id}}">
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
          </form>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>

{{#section 'scripts'}}
<script>
  $(document).ready(() => {
    var isDetailSectionVisible = false
    $('.detail-btn').click((e) => {
      e.preventDefault()
      if (isDetailSectionVisible == false){
        $(e.target).siblings('.detail-section').css('display', 'block')
      }
      else {
        $(e.target).siblings('.detail-section').css('display', 'none')
      }

      isDetailSectionVisible = !isDetailSectionVisible
    })
  })
</script>
{{/section}}
