<div class="table-container">
		<table class="table table-borderless table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Course title</th>
      <th scope="col">Category</th>
      <th scope="col">Participants</th>
      <th scope="col">status</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.courses}} 
      <tr>
        <th scope="row">{{order}}</th>
        <td>{{title}}</td>
        <td>{{category}}</td>
        <td>{{numOfStudent}}</td>
        <td>{{status}}</td>
        <td>
          <a href="/teacher/update/{{courseID}}"  class="btn btn-sm
            btn-primary">Change Info</a>

          {{#unless isFinish}}
          <a href="/teacher/videos/{{courseID}}"  class="btn btn-sm btn-primary">Add videos</a>
          <a href="/teacher/complete/{{courseID}}"  class="btn btn-sm btn-success">Done</a>
          {{/unless}}

        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
</div>
